{% extends "home.html" %}
{% block content %}
<section>
  
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Session Pricing Plans</h1>
        <p class="fs-5 text-muted">Experience personalized health and fitness guidance tailored to your unique lifestyle and goals. Our expert consultants offer comprehensive plans, from basic to elite, designed to fit your needs and budget. Start your wellness journey with us today and embrace a healthier, happier you!</p>
      </div>
 
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center m-5">
        <form action="/booksession" method="post">
          {% csrf_token %}
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Basic Plan</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$99<small class="text-muted fw-light">/month</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Initial health and fitness assessment</li>
                <li>Personalized workout plan</li>
                <li>Monthly progress tracking</li>
              </ul>
              <input type="submit" id="booksession" name="booksession" class="w-100 btn btn-lg btn-primary" />
            </div>
          </div>
        </div>
      </form>
      <form action="/med_order" method="post">
        {% csrf_token %}
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Premium Plan</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$149<small class="text-muted fw-light">/month</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>All features of the Basic Plan</li>
                <li>Nutritional guidance and meal planning</li>
                <li>Bi-weekly check-ins for progress tracking</li>
              </ul>
              <input type="submit" id="med_order" name="med_order" class="w-100 btn btn-lg btn-primary" />
            </div>
          </div>
        </div>
      </form>
      <form action="/ent_order" method="post">
        {% csrf_token %}
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Elite Plan</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$249<small class="text-muted fw-light">/month</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>2All features of the Premium Plan</li>
                <li>Weekly one-on-one virtual sessions</li>
                <li>Priority support and consultation</li>
              </ul>
              <input type="submit" id="ent_order" name="ent_order" class="w-100 btn btn-lg btn-primary" />
            </div>
          </div>
        </div>
      </form>
    </div>
</section>
{% endblock %}